﻿@{
    ViewBag.Title = "O aplikacji";
}

<div class="col-md-5">
    <img src="~/Images/logoWat.png" />
</div>
<div class="col-md-7">
    <h2>Aplikacje Internetowe</h2>
    <h4>Wojskowa Akademia Techniczna 2014/2015</h4>
    <br />
    <br />
    <h3>Tomasz Węgiel</h3>
    <h3>Łukasz Wojtaszek</h3>
    <br />
    <br />
    <p>Wykorzystane technologie:</p>
    <ul>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>jQuery</li>
        <li>Twitter Bootstrap</li>
    </ul>
</div>


