﻿@using MVC.Models

@model PostViewModel

@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        function processErrors(request, error) {
            alert(request.responseJSON);
        }
    </script>
}

<div id="item-list">
    @if (Model.Posts.Any())
    {
        <h2>Lista Postów:</h2>
        <ul>
            @foreach (Post item in Model.Posts)
            {
                <li>@item.Contents</li>
            }
        </ul>
    }
    else
    {
        @:Lista postów jest pusta
    }
</div>

<br />
<h3>Formularz</h3>
@using (Html.BeginForm("Items", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    <p>Dodaj nowy post formularzem:</p>
    @Html.TextBoxFor(m => m.NewItem.Contents)
    @Html.ValidationMessageFor(m => m.NewItem.Contents)
    <input type="submit" />
}

@{
    ViewBag.Title = "Lista przedmiotów";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions
    {
        Url = Url.Action("ItemsAjax"),
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "item-list",
        OnFailure = "processErrors"
    };
}

<br />
<h3>Formularz Ajax</h3>
@using (Ajax.BeginForm("Items", "Home", options))
{
    <p>Dodaj nowy post formularzem ajax:</p>
    @Html.TextBoxFor(m => m.NewItem.Contents)
    @Html.ValidationMessageFor(m => m.NewItem.Contents)
    <input type="submit" />
}