﻿@using MVC.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="col-md-5">
            @RenderBody()
        </div>
        <div class="col-md-5">
            @Html.Image("/Content/Images/bączek zwyczajny.jpg", "bączek")
            @Html.BootstrapButton("Bączek", "http://pl.wikipedia.org/wiki/B%C4%85czek_zwyczajny")
            @Html.ActionLink("Przedmioty","Items", "Home", null, new {@class="btn btn-primary"})
        </div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
