﻿@using AIProjekt.Models.Agregator
@using PagedList
@using PagedList.Mvc

@model PagedList<PostViewModel>

@{
    ViewBag.Title = "Zakop - Głowna";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagedListRenderOptions pagedListRenderOptions = new PagedListRenderOptions
    {
        MaximumPageNumbersToDisplay = 5,
        Display = PagedListDisplayMode.IfNeeded,
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    };
}

<h2>Główna</h2>

@foreach (PostViewModel p in Model)
{
    Html.RenderPartial("PostBar", p);
    <hr />
}
<div class="col-md-offset-2 col-md-10">
    @Html.PagedListPager(Model, page => Url.Action("RisingIndex", new { page }), pagedListRenderOptions)

</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyScripts/digBuryScript.js"></script>
}
