﻿@using AIProjekt.Domain.DbModels
@using Microsoft.AspNet.Identity

@model AIProjekt.Models.Agregator.PostViewModel

@{
    AjaxOptions diggAjaxOptions = new AjaxOptions
    {
        Url = Url.Action("Digg", "Agregator"),
        AllowCache = false,
        HttpMethod = "Get",
        OnSuccess = "updateRank"
    };

    AjaxOptions buryAjaxOptions = new AjaxOptions
    {
        Url = Url.Action("Bury", "Agregator"),
        AllowCache = false,
        HttpMethod = "Get",
        OnSuccess = "updateRank"
    };
}


<div class="row agregator-post">
    <div class="col-md-1 text-center" id="@Model.PostId">
        @if (User.Identity.IsAuthenticated && Model.AuthorId == User.Identity.GetUserId())
        {
            <div class="text-center rank-text">
                @{
            int rank = Model.PostiveRank - Model.NegativeRank;
                }

                <div class="cumulated-rank">
                    @rank
                </div>

                <div class="separate-rank">
                    (
                    <span class="positive-rank">@Model.PostiveRank</span>
                    /
                    <span class="negative-rank">@Model.NegativeRank</span>
                    )
                </div>
            </div>
        }
        else
        {
            using (Ajax.BeginForm("Digg", "Agregator", diggAjaxOptions))
            {
                @Html.Hidden("postId", Model.PostId)
                <button class="btn @(Model.Digged == Digged.Digged ? "btn-default" : "btn-primary") dig" type="submit"><i class="glyphicon glyphicon-arrow-up"></i></button>
            }
            <div class="text-center rank-text">
                @{
            int rank = Model.PostiveRank - Model.NegativeRank;
                }

                <div class="cumulated-rank">
                    @rank
                </div>
                <div class="separate-rank">
                    (
                    <span class="positive-rank">@Model.PostiveRank</span>
                    /
                    <span class="negative-rank">@Model.NegativeRank</span>
                    )
                </div>
            </div>
            using (Ajax.BeginForm("Bury", "Agregator", buryAjaxOptions))
            {
                @Html.Hidden("postId", Model.PostId)
                <button class="btn @(Model.Digged == Digged.Buried ? "btn-default" : "btn-danger") bury" type="submit"><i class="glyphicon glyphicon-arrow-down"></i></button>
            }
        }

    </div>
    <div class="col-md-2">
        @if (Model.HasImage)
        {
            <img src='@Url.Action("GetImage", "Agregator", new { postId = Model.PostId })' class="image-icon" alt="@Model.ImageName"/>
        }
        else
        {
            <img class="image-icon" src="@Url.Content("~/Images/Z-image.jpg")" alt="default-image" />
        }
    </div>
    <div class="col-md-9">
        <h4>@Html.ActionLink(Model.Title, "Index", new { controller = "Post", postId = Model.PostId })</h4>
        <p>@Model.TimeAdded Dodane przez : @Model.Author</p>
        <p class="word-wrap">@Model.Description</p>

            @string.Format("Komentarze: {0}", Model.CommentCount)
    </div>
</div>