﻿@model AIProjekt.Models.Agregator.NewCommentViewModel

@{
    AjaxOptions newCommentAjaxOptions = new AjaxOptions
    {
        Url = Url.Action("AddComment", "Comment"),
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementDuration = 1000,
        LoadingElementId = "comment-loading",
        AllowCache = false,
        UpdateTargetId = "comments-container"
    };

}

@using (Ajax.BeginForm(null, null, newCommentAjaxOptions, new { @class = "form-group form-max-width", id = "new-comment-form" }))
{
    @Html.HiddenFor(m => m.PostId)
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @Html.TextAreaFor(m => m.Contents, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Contents, null, new { @class = "text-danger" })
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-12 text-center padding-10">
        <div class="col-lg-offset-5 col-md-1 ">
            <input type="submit" class="btn btn-primary" value="Opublikuj" />
        </div>
        <span id="comment-loading" class="col-md-1" style="display: none;">@Html.Partial("_LoadingGif")</span>
        <div class="col-md-5"></div>
    </div>
}
