﻿@model AIProjekt.Models.Agregator.NewPostViewModel

@{
    ViewBag.Title = "Nowy wykop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div clas="row">
    <hr />
    @using (Html.BeginForm("NewPost", "Post", FormMethod.Post, new { @class = "form-horizontal form-max-width", role = "form", id = "new-post-form", enctype = "multipart/form-data" }))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Link, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Contents, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Contents, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Contents, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.File, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="file" name="File" accept="image/*" />
                    @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary" value="Dodaj" />
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#new-post-form").submit(function (e) {
            var form = $('#new-post-form');

            var link = $('#Link', form);
            var contents = $('#Contents', form);

            if (link.val() === "" && contents.val() === "") {
                alert('Link lub Treść musi zostać wypełniona.');
                return false;
            }

            return true;
        });
    </script>
}