﻿@using AIProjekt.Domain.HtmlExtenstions
@using AIProjekt.Models.Agregator
@model PostDetailViewModel

@{
    ViewBag.Title = Model.Title + " - Zakop";
    Layout = "../Shared/_Layout.cshtml";

    bool isYtLink = false;
    if (Model.Link != null)
    {
        isYtLink = Html.IsValidYoutubeAddress(Model.Link);
    }
}

@{
    Html.RenderPartial("PostBar", Model);
}
<hr />
@if (isYtLink)
{
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="yt-player" class="padding-30"></div>
        </div>
    </div>
}

<ul class="nav nav-tabs">
    @if (Model.Link != null && !isYtLink)
    {
        <li class="active">
            <a href="#link" data-toggle="tab">Link</a>
        </li>
    }

    @if (Model.Content != null)
    {
        <li class="@(Model.Link == null ? "active" : "")">
            <a href="#content" data-toggle="tab">Treść</a>
        </li>
    }
    <li class="@(Model.Content == null && isYtLink ? "active" : "")">
        <a href="#comments" data-toggle="tab">Komentarze ( @(Model.Comments.Any() ? Model.CommentCount : 0) )</a>
    </li>
</ul>

<div class="tab-content">

    @if (Model.Link != null && !isYtLink)
    {
        <div class="tab-pane fade in active" id="link">
            <div class="padding-20 link-text">
                <a href="@Model.Link" target="_blank">@Model.Link</a>
            </div>
        </div>
    }

    @if (Model.Content != null)
    {
        <div class="tab-pane fade in @(Model.Link == null ? "active" : "")" id="content">
            <div class="padding-20">
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    }

    <div class="tab-pane fade in  @(Model.Content == null && isYtLink ? "active" : "")" id="comments">
        <div class="row padding-20">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-12">
                    @{ Html.RenderPartial("NewCommentPartial", new NewCommentViewModel { PostId = Model.PostId });}
                </div>
            }
            <div class="col-md-offset-2 col-md-8" id="comments-container">
                @Html.Partial("~/Views/Comment/CommentsPartial.cshtml", Model.Comments)
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/MyScripts/digBuryScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('yt-player', {
                height: '390',
                width: '640',
                videoId: "@(isYtLink ? Html.GetVideoIdFromYoutubeLink(Model.Link) : "")"
            });
        }

    </script>

    <script>
        ResetUnobtrusiveValidation($('#new-comment-form'));
    </script>
}
