﻿@using AIProjekt.Domain.DbModels
@model IEnumerable<Comment>


@if (Model.Any())
{
    foreach (Comment c in Model)
    {
        <ul class="comment-list">
            <li>
                <div>
                    <span class="comment-user">@c.User.UserName</span>
                    <span class="comment-date">( @c.CommentDate.ToLongDateString() @c.CommentDate.ToLongTimeString() )</span>
                </div>
                <p class="comment-contents">@c.Contents</p>
            </li>
        </ul>
    }
}

